<div id="electronic-music" class="content">
  <% musics.each do |music| %>
    <div class="content-item content-item-music">
      <div class="embedded-media embedded-music">
        <%= music.iframe %>
      </div>
    </div>
  <% end %>
</div>
