<div id="film-score" class="margin-top">
  <% videos.each do |video| %>
    <div class="content-item">
      <div class="video-responsive">
        <%= video.iframe %>
      </div>
    </div>
  <% end %>
</div>
