<div id="header" class="row header-centered header-tall"">
  <div class="col-sm-6" id="name-and-title">

    <!-- name-and-title -->

    <div class="d-flex">
      <div class="name firstname"><h1>luca</h1></div>
      <div class="name lastname"><h1>nioi</h1></div>
    </div>
    <div class="">
      <div class="title"><h2>musicmaker</h2></div>
    </div>

    <!-- name-and-title/ -->

  </div>
  <div class="col-sm-6" id="menu">

    <!-- menu -->

    <div class="menu-item" id="film-score-button">
      <h5>film score</h5>
    </div>
    <div class="menu-item">
      <h5>electronic music</h5>
    </div>
    <div class="menu-item">
      <h5>theater</h5>
    </div>
    <div class="menu-item">
        <h5>contact</h5>
    </div>

    <!-- menu/ -->

  </div>
</div>

