<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Luca Nioi - Composer/Sound Designer</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/index.css">
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
</head>
<body class="page">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" id="name-and-title">
        <%= yield %>
      </div>
      <div class="col-sm-6" id="menu">
        <%= erb :'shared/menu' %>
      </div>
    </div>
  </div>
</body>
<script src="js/javascript.js"></script>
</html>


