.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 10px;
}

.content-item {
  position: relative;
  margin: 10px 0;
}

.content h5 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.content h6 {
  margin-bottom: 0.4rem;
}
