.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 10px;
}

.content-item {
  margin: 10px 0;
}