#film-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 250px;
  width: 444px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video-info {
  padding: 10px;
  width: 300px;
}

@media (max-width: 550px) {
  .video-info {
    position: relative;
  }
}

@media (min-width: 550px) {
  .video-info {
    position: absolute;
    top: 0;
    left: 475px;
  }
}


