.header-centered {
  margin-top: 17%;
}

.header-raised {
  margin-top: 5%;
}

.header-tall {
  height: 240px;
}

.header-short {
  height: 160px;
}

/* transitions */

#header {
  transition:
    width 0.8s ease,
    height 0.8s ease,
    margin 0.8s ease,
    padding 0.8s ease,
    opacity 0.8s ease;
  margin-bottom: 5%;
}
